<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.shop.mapper.ProductSkuMapper">
    <cache type="cn.wolfcode.shop.cache.RedisCache"/>
    <resultMap id="BaseResultMap" type="cn.wolfcode.shop.domain.ProductSku">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="price" property="price"/>
        <result column="mods" property="mods"/>
        <association column="product_id" property="product" javaType="cn.wolfcode.shop.domain.Product"
                     select="cn.wolfcode.shop.mapper.ProductMapper.selectByPrimaryKey"/>
        <collection column="psp_id" property="productSkuPropertyList"
                    ofType="cn.wolfcode.shop.domain.ProductSkuProperty"
                    select="cn.wolfcode.shop.mapper.ProductSkuPropertyMapper.selectByPrimaryKey"/>

    </resultMap>
    <resultMap id="otherMap" type="cn.wolfcode.shop.domain.ProductSku">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="price" property="price"/>
        <result column="mods" property="mods"/>
        <association column="product_id" property="product" javaType="cn.wolfcode.shop.domain.Product"
                     select="cn.wolfcode.shop.mapper.ProductMapper.selectByPrimaryKey"/>
        <collection columnPrefix="psp_" property="productSkuPropertyList"
                    resultMap="cn.wolfcode.shop.mapper.ProductSkuPropertyMapper.BaseResultMap"/>

    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `product_sku`
    where id = #{id}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into `product_sku` (product_id, code, price, mods)
    values (#{product.id}, #{code}, #{price}, #{mods})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.wolfcode.shop.domain.ProductSku">
    update `product_sku`
    set product_id = #{product.id},
      code = #{code},
      price = #{price},
      mods = #{mods}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, product_id, code, price, mods
    from `product_sku`
    where id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, code, price, mods
    from `product_sku`
  </select>
    <select id="getSkuByProductId" resultMap="otherMap">
    select ps.id, ps.product_id, ps.code, ps.price, ps.mods,
    psp.id psp_id, psp.product_sku_id psp_product_sku_id, psp.sku_property_id psp_sku_property_id, psp.value psp_value, psp.image psp_image
    from `product_sku` ps
    JOIN `product_sku_property` psp on ps.id = psp.product_sku_id
    where ps.product_id = #{productId}
    </select>
</mapper>